<launch>
  <arg name="use_joint_state_gui" default="false" />
  <arg name="config_file" default="pr2_pancake_flip_start_action.yaml" />

  <include file="$(find pr2_description)/robots/upload_pr2.launch" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
    <rosparam param="source_list">[/new_joint_states]</rosparam>
    <param name="use_gui" value="$(arg use_joint_state_gui)" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find plotting_sandbox)config/standard.rviz" />

  <node pkg="plotting_sandbox" type="plotting_world.py" name="plotting_world" >
    <rosparam command="load" file="$(find plotting_sandbox)/config/$(arg config_file)" />
  </node>
</launch>
